
.mynav{
	background-color:#003263;
	color:white;
	
}
.myfooter{
	background-color:#003263;
	color:#FFF;
	
}
.myrow{
	margin-right: 500px;
	
}
.btmlogo{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
}